<% include header.ejs %>
<div class="container-fluid">
    <div class="row">
        <% include left.ejs %>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">业务概要</h1>
            <form class="form-inline" action="./">
                <div class="form-group">
                    <label for="projectId">业务</label>
                    <select class="form-control input-sm" name="projectId" id="projectId">
                        <option value="-1">全部</option>
                        <% for(var k in projectInfo){ var item = projectInfo[k]; %>
                        <option value="<%= item._id %>" <%= item._id == query.projectId ? "selected" : "" %> ><%= item.name %></option>
                        <% } %>
                    </select>
                    <label for="date_end">日期</label> <input type="date" id="date" name="date"
                                                            class="form-control input-sm" value="<%= query.date %>">
                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>业务名</th>
                        <th>页面名称</th>
                        <th>日期</th>
                        <%  timeMarkAlias.forEach(function(item){%>
                        <th><%= item.name %></th>
                        <%})%>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% speedResult.forEach( function(item){ %>
                    <tr>
                        <td><%= item.projectInfo.name %></td>
                        <td><%= item.pageInfo.name %></td>
                        <td><%= item.createdate %></td>
                        <% item.timeMarksWithAlias.forEach(function (val , idx){ %>
                        <td class="tooltip-test" data-original-title="次数:<%=item.timeMarksWithAliasCount[idx]%>"><%= val %> </td>
                        <% }) %>
                        <td> <a href="./page?pageId=<%=item.pageId%>">查看详情</a> </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>

                <% if(!speedResult || speedResult.length == 0 ) { %>
                    <div class="well">Sorry, 没有符合条件的数据。</div>
                <% } %>
            </div>
        </div>

    </div>
</div>
<% include footer.ejs %>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>