<% include header.ejs %>
<div class="container-fluid">
    <div class="row">
        <% include left.ejs %>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"> 页面详情</h1>
            <form class="form-inline" action="./page">
                <div class="form-group">
                    项目: <%= thisProjectInfo.name %>
                    <label for="projectId">页面</label>
                    <select class="form-control input-sm" name="pageId" id="pageId">
                        <% for(var k in pageInfo){ var item = pageInfo[k]; %>
                        <option value="<%= item._id %>" <%= item._id == query.pageId ? "selected" : "" %> ><%= item.name %></option>
                        <% } %>
                    </select>
                    <label for="dateStart">开始日期</label> <input type="date" id="dateStart" name="dateStart"
                                                            class="form-control input-sm" value="<%= query.dateStart %>">
                    <label for="dateEnd">结束日期</label> <input type="date" id="dateEnd" name="dateEnd"
                                                              class="form-control input-sm" value="<%= query.dateEnd %>">
                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>页面名称</th>
                        <th>日期</th>
                        <th><%= tbHeader['1'] %></th>
                        <th><%= tbHeader['2'] %></th>
                        <th><%= tbHeader['3'] %></th>
                        <th><%= tbHeader['4'] %></th>
                    </tr>
                    </thead>
                    <tbody>

                    <% speedResult.forEach( function(item){ %>
                    <tr>
                        <td><%= item.pageInfo.name %></td>
                        <td><%= item.createDate %></td>
                        <% [1, 2, 3, 4].forEach(function (k){ %>
                        <td><%= item.timeMarks[k] %> [<%= item.timeMarksCount[k] %>]</td>
                        <% }) %>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>

                <% if(!speedResult || speedResult.length == 0 ) { %>
                    <div class="well">Sorry, 没有符合条件的数据。</div>
                <% } %>
            </div>
        </div>

    </div>
</div>
<% include footer.ejs %>